.addProduct {
    display: flex;
    justify-content: center;
}

.addProduct h3{
    font-size: large;
}

.addProduct label{
    font-size: large;
    margin-right: 15px;
}
.card-style {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
}
.butoniii{
    border: none;
    border-radius: 3px;
    padding: 13px 30px;
}
.btn-text {
    color: gray;
}
.d-flex {
    display: flex;
}
.j-between {
    justify-content: space-between;
}