<div class="">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th scope="col">EuroCode</th>
        <th scope="col">Supplier</th>
        <th scope="col">Model/Brand</th>
        <th scope="col">Depot</th>
        <th scope="col">Sector</th>
        <th scope="col">Quantity</th>
        <th scope="col">Created</th>
        <th scope="col">Price</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of sales">
        <td>{{s.id}}</td>
        <td>{{s.productSupplier.product.eurocode}}</td>
        <td>{{s.productSupplier.supplier.firstName}}</td>
        <td>{{s.productSupplier.product.model.brand.name}} - {{s.productSupplier.product.model.name}} - {{s.productSupplier.product.years.name}}</td>
        <td>{{s.depot.name}}</td>
        <td>{{s.sector.name}}</td>
        <td>{{s.quantity}}</td>
        <td>{{s.created | date: 'short'}}</td>
        <td>{{s.sellingPrice | currency:'EUR'}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteSale(s.id!)">Delete</button>
        </td>
      </tr>
    </tbody>
    </table>
  </div>